*{
	margin:0px;
	}
html { 
  background: url(../images/bg/10.jpg) no-repeat center center; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.leftcol {
  float: left; 
}
.rightcol {
  margin-left: 525px;
}

.menu { 
	font-family: 'Capture it', arial;
    font-size: 40px;
    cursor: pointer;
}


#categoryImage2,
#categoryImage3,
#categoryImage4,
#categoryImage5,
#categoryImage6,
#categoryImage7,
#categoryImage8,
#categoryImage9
      {
	display: none;
}

.left {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	left:20px;
	/*opacity:0;*/
	/*transition: all .2s ease-in-out 0s;*/
	}

.right {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	right:20px;
	/*opacity:0;*/
	/*transition: all .5s ease-in-out 0s;*/
	}

.left_hold:hover .left {
	opacity:0.6;
	}
.right_hold:hover .right {
	opacity:0.6;
}
