* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #000000;
  height: 100%;
}

#title {
	height: 20%;
	margin-left: 20%;
}
#wrapper {
	/*width: 100%;*/
	display: flex;

  /*flex-direction: column;*/
  height: 80%;

	justify-content: center;
	/*align-items: flex-end;*/

		flex-wrap: wrap;
align-content: space-between;

/*	margin:0px auto;
	width: 1000px;*/
}

#sidebar {
	/*flex: 1 2 100px;*/
	/*width: 50%;*/
  font-family: 'Capture it', arial;
  color: white;
  font-size: 30px;
  cursor: pointer;
  /*background-color: red;*/
  /*width: 40%;*/
  /*flex: auto;*/
}

#slider {
	margin-left: 20px;
		/*width: 50%;*/

	/*flex: 1 0 auto;*/
	/*background-color: blue;*/

	/*margin-left:40%;*/
}

/*#categories {
		border-color: white;
	border-width: 5px;
}*/

/*.left {
	transform:scale(-1,1);
	position: absolute;
	top:500px;
	left:53%;
	opacity:0.3;
	transition: all .2s ease-in-out 0s;
	}

.right {
	position: absolute;
	top:500px;
	left:56%;
	opacity:0.4; 
	transition: all .5s ease-in-out 0s;
}

.left_hold:hover .left {
	opacity:0.9;
}

.right_hold:hover .right {
	opacity:0.9;
}*/

#footer {
	 flex: 1 1 auto;
	 width: 100%;
}
#siren {
	float: left;
}

#contacts {
	font-family: 'Capture it', arial;
	color: white;
	font-size: 20px;
	padding-top: 80px;
}